.gallery-img-container{
    position: relative;
    background: var(--clr-primary-5);
}

.gallery-icon {
    position:absolute;
    top:50%;left:50%;
    font-size:2rem;
    color:var(--clr-white);
    opacity:0;
    transition:var(--transition);
}

.gallery-img{
    height: 17rem;
    object-fit: cover;
    transition:var(--transition);
}

.gallery-img-container:hover .gallery-img {
    opacity: 0.5;
}
.gallery-img-container:hover .gallery-icon {
    opacity: 1;
    transform: scale(1.02) translate(-50%,-50%);
}

@media screen and (min-width:768px) {
    .gallery-center{
        display:flex;
        flex-wrap: wrap;
    }
    .gallery-img-container{
        flex:0 0 calc(100% / 2);
    }
}

@media screen and (min-width:1170px) {
    .gallery-img-container{
        flex:0 0 calc(100% / 4);
    }
}