.services {
    background: var(--clr-grey-10);
}

.services {
    text-align: center;
    margin-bottom: 3rem;
}

.service-icon {
    background: var(--clr-primary-5);
    color: var(--clr-primary-1);
    padding: 0.5rem;
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.service-text {
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width:576px) {
    .services-center {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .service{
        flex:0 0 calc(50% - 1rem);
        margin-bottom:1rem;
    }
}

@media screen and (min-width:992px) {
    .service{
        flex:0 0 calc(100% / 3 - 1rem);
    }
}

@media screen and (min-width:1170px) {
    .service{
        display:flex;
    }
    .service-icon{
        align-self: flex-start;
    }
    .service-info > h4{
        text-align: left;
        margin:0;
        padding:0.25rem;
    }
    .service-info> p{
        margin:0;
        padding:0.25rem;
        text-align: left;
    }
}